# Configuration file

Aluminum {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x9ca2ac
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Aluminum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Boron {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x616161
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Boron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Copper {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xef6600
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Custom {
    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


Gold {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xb4a62c
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Iron {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x878787
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Nickel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Lead {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x5b636c
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Silver
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Lithium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x8b8b8b
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Lithium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Magnesium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xdbccd3
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Magnesium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Mithril {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa6b9c3
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Mithril
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Nickel {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xbbb8a1
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Osmium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xacb5c0
    D:energy=2.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Osmium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Platinum {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa4c8e8
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Plutonium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x372d92
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Plutonium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Recipes {
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    B:eng_toolbox=true
    B:exnihilo=true
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Rutile {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x716f67
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Rutile
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Silver {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xd8dddf
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Lead
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Thorium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x1d1d1d
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Thorium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Tin {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xd8bfaa
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Uranium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x122f15
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Uranium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Yellorium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x8d9433
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Yellorium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


